#######################
##configuration files##
#######################
config.json
package-lock.json

################
##node_modules##
################
node_modules

#############
##streamers##
#############
streamers

##################
##unused folders##
##################
serializers
monitors
languages
inhibitors
finalizers
extendables
bwd

####################
##command template##
####################
command_template
